/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2016, 4:52:17 PM
    Author     : Alexis Padula and Sean Webber
*/

img{
  display:block;
  margin-left: auto;
  margin-right:auto;
}
h1{
  text-align: center;
}

#mainSection{
  border: .25em solid red;
  display:block;
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  text-align:left;
  width:75%;
}

form label{
  display:inline-block;
  margin-right:1em;
  text-align:left;
  width:150px;
}
form input{
  display:inline-block;
}

#title{
  width:250px;
}

#checkoutBtn{
  margin-left:175px;
}

th{
  padding-right: 2em;
  text-align:left;
}

td{
  padding-right:1em;
  text-align:left;
}
#mainSection .main{
  margin: 1em;
}

#return{
  margin-left:0;
}
table{
  margin-bottom: 1em;
  margin-left: 1em;
}
footer{
  border-top: .25em navy solid;
}
footer p{
  margin-left:2em;
}